/*
The CSS code must be developed according to CSS 2.1 specification and must validate using
the CSS validator (http://jigsaw.w3.org/css-validator). Stable CSS3 properties may be used
as well, but vendor specific markup should not be used.
• Style information must be stored in a separate .CSS file linked to the HTML document.
• At least 10 different selectors have to be used in CSS document.
• All types of basic selectors (by class, id and element name) have to be used
• Some part of the document must demonstrate how two or more classes can be formatted
using CSS.
• Media queries must be included in CSS code. For example, a print version can be developed
where some parts (for instance, navigation) of the document are hidden. “Print preview”
function can be used for testing. Or a responsive design features can be implemented using
media queries
*/

/*
Contents:
    Global properties
    Quote
    Navigation
    Swim styles
*/

/* Global properties */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E4E2;
}

#main {
    margin-left: 5%;
    margin-right: auto;
    width: 75%;
    background-color: white;
}

#main h2 {
    padding-left: 1%;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: #0047ab;
    color: white;
}

.content-section p {
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
}

a {
    cursor: pointer;
}

/* Quote */

#quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    flex-wrap: wrap;
}

#quote blockquote {
    width: 40%;
    align-self: center;
    font-size: 25px;
    text-align: justify;
}

#quote img {
    width: auto;
    height: auto;
    align-self: center;
    border: 5px solid black;
}

/* Navigation */

#content {
    display: flex;
    flex-direction: row;
}

#navbar {
    width: 20%;
    text-align: left;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
}

#navbar ul li {
    background-color: #0047ab;
    margin-bottom: 5%;
    border-radius: 10px;
    transition: all 0.5s ease;
    border: 1px solid #0047ab;
    font-size: 1.5em;
}

#navbar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5%;
}

#navbar li:hover {
    background-color: white;
    border: 1px solid #0047ab;
}

#navbar li:hover a {
    color: #0047ab;
}

/* Swim styles */

#swim-styles ul {
    font-size: 18px;
    line-height: 1.5;
}

#swim-styles a:hover {
    text-decoration: underline;
}

/* Competition pools */

#pool-pic {
    width: 40%;
    transition: all 0.5s ease;
    cursor: zoom-in;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 600px) {
    #content {
        flex-direction: column-reverse;
        position: relative;
    }

    #navbar {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    #navbar ul li {
        font-size: 22px;
        width: 100%;
    }

    #navbar ul {
        margin-left: 0;
        margin-right: 0;
    }

    #main {
        width: 90%;
    }

    #quote blockquote {
        margin-left: 0;
        margin-right: 0;
        width: 90%;
    }

    #quote {
        justify-self: stretch;
        flex-wrap: wrap;
    }
}